/* google fronts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}


/* top banner start */
.top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    background-color: black;
    width: 95%;
    margin: 50px 139px 80px 140px;
    border-radius: 30px;
}

.banner {
    display: flex;
}

.banner-details {
    color: #FFFFFF;
    margin: 80px 24px 110px 110px;
    width: 531px;
    height: 424px;
}

.style {
    color: #dbb9b9;
    font-size: 15px;
    padding-left: 9px;
}

.banner-img {
    width: 581px;
    height: 613px;
    margin-top: 31px;
}

.banner-details h1 {
    font-size: 50px;
    font-weight: 700px;
}

.banner-details p {
    margin-bottom: 30px;
    font-size: 16px;
    margin-top: 20px;
}

.banner-details button {
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

/* middle area style */
.middle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}

#main-content {
    display: grid;
    grid-template-columns: 270px repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 24px;
    width: 95%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: #161616;
    border-radius: 10px;
    grid-row: 1 / -1;
    height: 230px;
    padding-top: 19px;
    font-family: 'Poppins', sans-serif;

}

.button {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    font-size: 20px;
    cursor: pointer;
}

.desing {
    background-color: #DD0000;
    color: white;
    border: none;
}

.blog {
    height: 200px;
    border: 1px solid #efecec;
    border-radius: 10px;
}

.blog-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.blog-img h3{
    margin:10px 5px;
}

.blog-img img {
    width: 40%;
}

.blog-h2 {
    font-size: 16px;
    margin-bottom:5px;
}

.details-button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 4px 16px;

}
.blog-details {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top:10px;
}
.blog-details p{
    font-size:14px;
    margin-left:12px;
    color:gray;
}

.bonus-button {
    padding: 12px 29px;
    background-color: #DD0000;
    border: none;
    border-radius: 5px;
    margin-top: 60px;
    color: white;
    font-size: 20px;
    display: none;
}

/* footer area style */
.footer-section {
    background-color: #161616;
    width: 100%;
    height: 444px;
    color: #fff;
}

.footer-section h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 19px;
}

.footer-details {
    width: 80%;
    padding-top: 130px;
    margin: 0 auto;
}

.footer-hr {
    border: 1px solid gray;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-a {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
    margin-bottom: 40px;
    gap: 30px;

}

.footer-a a {
    color: #B9B9B9;
    text-decoration: none;

}

.social-icon {
    margin-left: 50px;
    margin-top: 20px;
}

.social-icon i {
    margin-right: 50px;
    color: #2196f3;
    font-size: 25px;
}

/* Desktop media queary */

/*----------------- 
Tab view
---------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .banner-content {
        margin: 50px 50px 70px 50px;
    }

    .banner-img {
        margin-top: 92px;
    }

    .sidebar {
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        grid-column: 1 / -1;
        justify-content: center;
        background-color: #fff;
        height: 0px;
    }

    #main-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .style1 {
        display: none;
    }

    .footer-a {
        gap: 15px;
        margin-left: 30px;
        grid-template-columns: repeat(4, 1fr);
    }

    .style1-a {
        grid-column: -4 / -3;
    }

    .style2-a {
        grid-column: -3 / -2;
    }

    .bonus-button {
        display: block;
    }

    .banner-content {
        width: 710px;
        height: 420px;
    }

    .banner-details {
        margin: 61px 2px 61px 76px;
        width: 316px;
        height: 276px;
    }

    .banner-img {
        width: 323px;
        height: 340px;
        margin-top: 31px;
    }

    .banner-details h1 {
        font-size: 40px;
    }

    .banner-details p {
        margin-bottom: 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    .button {
        width: 210px;
    }
}

/*------------------
 Mobile view 
 --------------------*/
@media only screen and (max-width: 687px) {
    .banner-content {
        width: 334px;
        height: 490px;
    }

    .banner-details {
        margin: 28px 38px 21px 38px;
        width: 258px;
        height: 178px;
        text-align: center;
    }

    .banner-details h1 {
        font-size: 22px;
    }

    .banner-details p {
        font-size: 14px;
        margin-bottom: 16px;
    }
   

    .banner-details button {
        border: none;
    }

    .banner-img {
        width: 233px;
        height: 300px;
        margin: 0 auto;
    }

    .banner-img img {
        width: 80%;
        margin: 67px 0 0 38px;
    }

    .banner {
        display: block;
    }

    #main-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .sidebar {
        height: 176px;
        background-color: #fff;
    }
    .blog-h2 {
        text-align:center;
    }
    .blog-details p{
        text-align: center;;
    }

    .button {
        width: 210px;
        height: 48px;
    }

    .top-banner {
        height: 490px;
        margin-bottom: 60px;
    }

    .middle-area {
        margin-bottom: 23px;
    }

    .footer-section {
        height: 550px;
    }

    .footer-a {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 24px;
        margin-bottom: 0;
        gap: 15px;

    }
}